body {
	background-color:#ddecef !important;
}
.jumbotron {
	background-color: #87aaae !important;
	color:#f6f6f6 !important;
	text-align: center;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
.jumbotron p {
	color:#f6f6f6;
}
.panel-default>.panel-heading {
	background-color: #87aaae !important;
	color:#f6f6f6 !important;
}
.form-control:focus {
	box-shadow:none !important;
	border-color: #ccc !important;
}
#clickButton {
	background-color:#87aaae; 
	border:none;
}
.btn-primary:focus {
	outline: none !important;
}
.btn-primary:hover {
	opacity: 0.9;
}
p {
	color:#aaa;
}
th {
	color:#aaa;
	border-top:none !important;
}
td {
	color:#aaa;
}